@using ATP2.BDAID.Framework.Constant
@model List<ATP2.BDAID.Entities.Service>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<br />
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> @ViewBag.Error
    </div>
}

<a href="@Url.Action("Detail", "AdminService", new { id = -1 })" class="btn btn-info btn-sm">ADD</a>
<br />
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Service Name</th>
            <th>Service Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.ID</td>
                <td>@service.Name</td>
                <td>@((EnumCollection.ServiceTypeEnum)service.ServiceTypeID)</td>
                <td>@Html.ActionLink("Edit", "Detail", new { Controller = "AdminService", id = service.ID }, new { @class = "btn btn-sm btn-info" })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { Controller = "AdminService", id = service.ID }, new { @class = "btn btn-sm btn-danger" })</td>
            </tr>
        }

    </tbody>
</table>
